<form action="">
    <p>Titulo:</p>
    <input type="text" name="titulo" id="">
    <p>Conteudo:</p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar Postagem</button>
</form>